## Setup

In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))
display(HTML("<style>.output_result { max-width:90% !important; }</style>"))

import warnings
warnings.filterwarnings("ignore")

import numpy as np
np.set_printoptions(precision=3)
np.set_printoptions(linewidth=170)
np.set_printoptions(suppress=True)
np.random.seed(8)

from time import time, sleep
sleep(0.2)

C:\Users\raziel lab\AppData\Local\Temp\ipykernel_41720\1403808273.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

## Imports & Parameters

In [2]:
import pandas as pd

pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows', None)
random_state = 8

## Loading the data

In [3]:
empty_buildings_df = pd.read_csv('C:/Users/raziel lab/PycharmProjects/ConsumptionModels/Appliances Algorithm/Merge/empty_buildings.csv', encoding="utf-8")
empty_buildings_df.head()

,building_number,c_desktop,c_laptop,c_server,r_domestic,r_industrial,r_other,f_industrial,f_domestic
0,15-16,0,0,0,0,0,0,0,0
1,25,0,0,0,0,0,0,0,0
2,28,0,0,0,0,0,0,0,0
3,Entrance Gate,0,0,0,0,0,0,0,0
4,92,0,0,0,0,0,0,0,0

## Main

In [4]:
appliances_df = pd.DataFrame()

In [5]:
months=12
for i in range(1, months+1):
    
    str_year = '2019-'
    str_month = str(i)
    
    str_computers = 'C:/Users/raziel lab/PycharmProjects/ConsumptionModels/Appliances Algorithm/Computers/total_computers_'+str_year+str_month+'.csv'
    str_refrigerators = 'C:/Users/raziel lab/PycharmProjects/ConsumptionModels/Appliances Algorithm/Refrigerators/total_refrigerators_'+str_year+str_month+'.csv'
    str_freezers = 'C:/Users/raziel lab/PycharmProjects/ConsumptionModels/Appliances Algorithm/Freezers/total_freezers_'+str_year+str_month+'.csv'
    
    computers_df = pd.read_csv(str_computers, encoding="utf-8")
    refrigerators_df = pd.read_csv(str_refrigerators, encoding="utf-8")
    freezers_df = pd.read_csv(str_freezers, encoding="utf-8")
    
    freezers_df['building_number'] = freezers_df['building_number'].astype(str)
    

    appliances_in_month_df = pd.merge(computers_df, refrigerators_df, how='outer', on='building_number')
    appliances_in_month_df = pd.merge(appliances_in_month_df, freezers_df, how='outer', on='building_number')
    
    empty_buildings_df.iloc[0,1:] = appliances_in_month_df.iloc[1,1:] + appliances_in_month_df.iloc[2,1:]
    appliances_in_month_df.drop([1,2], axis=0, inplace=True)
    
    appliances_in_month_df = pd.concat([appliances_in_month_df, empty_buildings_df])
    appliances_in_month_df['month_number'] = i
    
    appliances_in_month_df = appliances_in_month_df.fillna(0)
    appliances_in_month_df.sort_values('building_number', axis=0, ascending=True, inplace=True, ignore_index=True)
   
    appliances_df = pd.concat([appliances_df, appliances_in_month_df])

In [6]:
appliances_df.to_csv('appliances_df.csv', index=False, encoding="utf-8")