## Setup

In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))
display(HTML("<style>.output_result { max-width:90% !important; }</style>"))

import warnings
warnings.filterwarnings("ignore")

import numpy as np
np.set_printoptions(precision=3)
np.set_printoptions(linewidth=170)
np.set_printoptions(suppress=True)
np.random.seed(8)

from time import time, sleep
sleep(0.2)

C:\Users\raziel lab\AppData\Local\Temp\ipykernel_33540\1403808273.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

## Imports & Parameters

In [2]:
import pandas as pd

pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows', None)
random_state = 8

## Loading the data

In [3]:
computers_1 = pd.read_csv('C:/Users/raziel lab/PycharmProjects/ConsumptionModels/Appliances Algorithm/Computers/computers1.csv', encoding='utf8')
computers_1.shape

(19442, 26)

In [4]:
computers_2 = pd.read_csv('C:/Users/raziel lab/PycharmProjects/ConsumptionModels/Appliances Algorithm/Computers/computers2.csv', encoding='utf8')
computers_2.shape

(342, 26)

## Main

In [5]:
computers = pd.concat([computers_1, computers_2])
computers.shape

(19784, 26)

In [6]:
len(computers['אינוונטר'].unique())

19784

In [7]:
computers['שם סטטוס'].unique()

array(['פעיל', 'מאושר\xa0לגריעה', 'מושאל', 'לא\xa0מנוהל', 'נגרע'], dtype=object)

In [8]:
computers = computers[(computers['שם סטטוס'] == 'לא מנוהל') | (computers['שם סטטוס'] == 'פעיל')]
computers['שם סטטוס'].unique()

array(['פעיל', 'לא\xa0מנוהל'], dtype=object)

In [9]:
print("Rows Number:", computers.shape[0])

Rows Number: 18241

In [10]:
computers['שם קמפוס'].unique()

array([nan, 'קמפוס מרקוס', 'קמפוס\xa0שדה\xa0בוקר', 'קמפוס\xa0היאס', 'קמפוס היאס', 'פארק\xa0הייטק', 'קרית\xa0ברגמן', 'בית\xa0חולים\xa0וטרינרי',
       'מדעי\xa0הבריאות\xa0סורוקה', 'בית\xa0חולים\xa0פסיכיאטרי', 'קרית ברגמן', 'קמפוס\xa0אילת', 'פארק הייטק', 'קמפוס\xa0חצרים', 'קמפוס\xa0מרקוס'], dtype=object)

In [11]:
computers = computers[(computers['שם קמפוס'] == 'קמפוס מרקוס') | (pd.isnull(computers['שם קמפוס']))]
computers['שם קמפוס'].unique()

array([nan, 'קמפוס מרקוס'], dtype=object)

In [12]:
print("Rows Number:", computers.shape[0])

Rows Number: 16794

In [13]:
computers.drop(['אינוונטר','סטטוס','שם סטטוס','תאריך עדכון אחרון','פריט','מחיר כניסה בדולר','הזמנה','סריאלי','מחיר ידני','קוד סימון','תז שואל','פטור מותנה','מנוהל תמיד','קמפוס','שם קמפוס','קומה','חדר','הערות לפריט אומנות'], axis=1, inplace=True)
computers.reset_index(drop=True, inplace=True)
computers.head()

,תאריך קבלה,"מחיר כניסה בש""ח",תיאור האינוונטר,הערות לשורה מההזמנה,מחלקה,שם מחלקה,בניין,שם בניין
0,30/04/2007,"3,488,331.00",YEDA COMPUTERS .COMPUTER MAC PRO,YEDA COMPUTERS .COMPUTER MAC PRO,5511.0,הנדסת חומרים,NaN,NaN
1,03/01/2012,"377,804.00",SILICON GRAPHICS .COMPUTER SERVER,SILICON GRAPHICS .COMPUTER SERVER,5109.0,המרכז לננו טכנולוגיה,NaN,NaN
2,18/08/2014,"365,161.00",COMPUTER SERVER,COMPUTER SERVER,5108.0,המחלקה למדעי המחשב,37,בניין 37 אלון לטכנולוגיה עילית
3,06/11/2006,"327,983.00",ANKOR COMPUTERS .COMPUTER SERVER NETAPP,ANKOR COMPUTERS .COMPUTER SERVER NETAPP,5000.0,אגף טכנולוגיות חדשנות ודיגיטל,NaN,NaN
4,12/11/1996,"279,342.18",DIGITAL EQUIPMENT .COMPUTER SERVER ALPHA 4100,DIGITAL EQUIPMENT .COMPUTER SERVER ALPHA 4100,5000.0,אגף טכנולוגיות חדשנות ודיגיטל,NaN,NaN

In [14]:
computers.rename(columns = {'תאריך קבלה':'operating_date',
                            'מחיר כניסה בש"ח':'price',
                            'תיאור האינוונטר':'description',
                            'הערות לשורה מההזמנה':'comment',
                            'מחלקה':'department_number',
                           'שם מחלקה':'department_name',
                           'בניין':'building_number',
                           'שם בניין':'building_name'}, inplace=True)
computers.head()

,operating_date,price,description,comment,department_number,department_name,building_number,building_name
0,30/04/2007,"3,488,331.00",YEDA COMPUTERS .COMPUTER MAC PRO,YEDA COMPUTERS .COMPUTER MAC PRO,5511.0,הנדסת חומרים,NaN,NaN
1,03/01/2012,"377,804.00",SILICON GRAPHICS .COMPUTER SERVER,SILICON GRAPHICS .COMPUTER SERVER,5109.0,המרכז לננו טכנולוגיה,NaN,NaN
2,18/08/2014,"365,161.00",COMPUTER SERVER,COMPUTER SERVER,5108.0,המחלקה למדעי המחשב,37,בניין 37 אלון לטכנולוגיה עילית
3,06/11/2006,"327,983.00",ANKOR COMPUTERS .COMPUTER SERVER NETAPP,ANKOR COMPUTERS .COMPUTER SERVER NETAPP,5000.0,אגף טכנולוגיות חדשנות ודיגיטל,NaN,NaN
4,12/11/1996,"279,342.18",DIGITAL EQUIPMENT .COMPUTER SERVER ALPHA 4100,DIGITAL EQUIPMENT .COMPUTER SERVER ALPHA 4100,5000.0,אגף טכנולוגיות חדשנות ודיגיטל,NaN,NaN

In [15]:
computers.shape

(16794, 8)

In [16]:
servers_df = pd.DataFrame(columns=computers.columns)
desktops_df = pd.DataFrame(columns=computers.columns)
laptops_df = pd.DataFrame(columns=computers.columns)

In [17]:
description_col = computers.columns.get_loc('description')

for i in range (computers['description'].shape[0]):
    
    if 'Server' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Server'
    if 'server' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Server'    
    if 'SERVER' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Server'
    if 'שרת' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Server'
    if 'COMPAQ DL' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Server'
    if 'COMPAQ ML' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Server'
    if 'DELL R' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Server'
    if 'DELL POW2650' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Server'
    if 'I.B.M X355' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Server'
    if 'I.B.M X335' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Server'
    if 'I.B.M X330' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Server'
    if 'COMPUTER SUN' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Server'
    if 'Laptop' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Laptop'
    if 'laptop' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Laptop'
    if 'LAPTOP' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Laptop'        
    if 'Personal' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Laptop'
    if 'personal' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Laptop'
    if 'PERSONAL' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Laptop'        
    if 'נייד' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Laptop'
    if 'MacBook' in computers.iloc[i,description_col]:
         computers.iloc[i,description_col] = 'Laptop'
    if 'COMPUTER MAC PB-G4' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Laptop'
    if 'COMPUTER MAC P/BOOK G3' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Laptop'
    if 'BookPro' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Laptop'
    if 'COMPUTER LENOVO X' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Laptop'        
    if 'COMPUTER LENOVO YOGA' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Laptop'
    if 'COMPUTER TOSHIBA Z' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Laptop'
    if 'COMPUTER TOSHIBA SATELLITE' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Laptop'
    if 'COMPUTER TOSHIBA R700' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Laptop'
    if 'COMPUTER DELL E' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Laptop'
    if 'COMPUTER DELL INSPIRON' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Laptop'
    if 'COMPUTER DELL VOSTRO' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Laptop'
    if 'COMPUTER DELL LATITUDE' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Laptop'        
    if 'COMPUTER DELL XPS13' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Laptop'
    if 'COMPUTER DELL D360' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Laptop'    
    if 'COMPUTER HP ELITEBOOK' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Laptop'
    if 'COMPUTER HP PROBOOK' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Laptop'        
    if 'COMPUTER HP 6470' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Laptop'
    if 'COMPUTER HP 6460B' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Laptop'
    if 'COMPUTER I.B.M A' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Laptop'        
    if 'COMPUTER I.B.M T' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Laptop'
    if 'COMPUTER I.B.M X' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Laptop'
    if 'COMPUTER SAMSUNG 900X' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Laptop'        
    if 'COMPUTER COMPAQ ARMADA' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Laptop'
    if 'COMPUTER FUJITSU A544' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Laptop'
    if 'COMPUTER SONY VAIO' in computers.iloc[i,description_col]:
        computers.iloc[i,description_col] = 'Laptop'

In [18]:
servers_rows = computers[computers['description'] == 'Server']
laptops_rows = computers[computers['description'] == 'Laptop']

servers_df = servers_df.append(servers_rows, ignore_index = True)
laptops_df = laptops_df.append(laptops_rows, ignore_index = True)

computers.drop(servers_rows.index, inplace = True)
computers.drop(laptops_rows.index, inplace = True)

desktops_df = desktops_df.append(computers, ignore_index = True)

servers_df.drop(['description', 'comment'], axis=1, inplace = True)
desktops_df.drop(['description', 'comment'], axis=1, inplace = True)
laptops_df.drop(['description', 'comment'], axis=1, inplace = True)

In [19]:
servers_without_building = servers_df[pd.isnull(servers_df['building_number']) == True]
print('Servers Without Building:',len(servers_without_building))
servers_with_building = servers_df[pd.isnull(servers_df['building_number']) == False]
print('Servers With Building:',len(servers_with_building))
print()

desktops_without_building = desktops_df[pd.isnull(desktops_df['building_number']) == True]
print('Desktops Without Building:',len(desktops_without_building))
desktops_with_building = desktops_df[pd.isnull(desktops_df['building_number']) == False]
print('Desktops With Building:',len(desktops_with_building))
print()

laptops_without_building = laptops_df[pd.isnull(laptops_df['building_number']) == True]
print('Laptops Without Building:',len(laptops_without_building))
laptops_with_building = laptops_df[pd.isnull(laptops_df['building_number']) == False]
print('Laptops With Building:',len(laptops_with_building))

Servers Without Building: 291
Servers With Building: 376

Desktops Without Building: 6107
Desktops With Building: 8258

Laptops Without Building: 1253
Laptops With Building: 509

In [20]:
servers_without_department = servers_df[pd.isnull(servers_df['department_name']) == True]
print('Servers Without Department:',len(servers_without_department))
print()

desktops_without_department = desktops_df[pd.isnull(desktops_df['department_name']) == True]
print('Desktops Without Department:',len(desktops_without_department))
print()

laptops_without_department = laptops_df[pd.isnull(laptops_df['department_name']) == True]
print('Laptops Without Department:',len(laptops_without_department))

Servers Without Department: 0

Desktops Without Department: 4

Laptops Without Department: 0

In [21]:
print('Unique Departments in Servers df:', servers_with_building['department_name'].unique().shape[0])
print()

print('Unique Departments in Desktops df:', desktops_with_building['department_name'].unique().shape[0])
print()

print('Unique Departments in Laptops df:', laptops_with_building['department_name'].unique().shape[0])
print()

Unique Departments in Servers df: 29

Unique Departments in Desktops df: 159

Unique Departments in Laptops df: 66

In [22]:
servers_div_percentage = servers_with_building.groupby(['department_name','building_number']).size().reset_index(name='count')
servers_div_percentage_sum = servers_div_percentage.groupby(['department_name']).sum()
servers_div_percentage_count = servers_div_percentage.merge(servers_div_percentage_sum, how='left', on='department_name')
servers_div_percentage_count['percentage'] = servers_div_percentage_count['count_x'].divide(servers_div_percentage_count['count_y'], axis=0)
servers_div_percentage.drop(['count'], axis=1, inplace=True)
servers_div_percentage['percentage'] = servers_div_percentage_count['percentage'].values

desktops_div_percentage = desktops_with_building.groupby(['department_name','building_number']).size().reset_index(name='count')
desktops_div_percentage_sum = desktops_div_percentage.groupby(['department_name']).sum()
desktops_div_percentage_count = desktops_div_percentage.merge(desktops_div_percentage_sum, how='left', on='department_name')
desktops_div_percentage_count['percentage'] = desktops_div_percentage_count['count_x'].divide(desktops_div_percentage_count['count_y'], axis=0)
desktops_div_percentage.drop(['count'], axis=1, inplace=True)
desktops_div_percentage['percentage'] = desktops_div_percentage_count['percentage'].values

laptops_div_percentage = laptops_with_building.groupby(['department_name','building_number']).size().reset_index(name='count')
laptops_div_percentage_sum = laptops_div_percentage.groupby(['department_name']).sum()
laptops_div_percentage_count = laptops_div_percentage.merge(laptops_div_percentage_sum, how='left', on='department_name')
laptops_div_percentage_count['percentage'] = laptops_div_percentage_count['count_x'].divide(laptops_div_percentage_count['count_y'], axis=0)
laptops_div_percentage.drop(['count'], axis=1, inplace=True)
laptops_div_percentage['percentage'] = laptops_div_percentage_count['percentage'].values

In [23]:
for i in range (servers_without_building['department_name'].unique().shape[0]):
    rows_for_change = servers_without_building[servers_without_building['department_name'] == servers_without_building['department_name'].unique()[i]]
    percentage_for_insert = servers_div_percentage[servers_div_percentage['department_name'] == servers_without_building['department_name'].unique()[i]]
    num_of_different_buildings = len(percentage_for_insert)
    interval1 = 0
    interval2 = 0
    for j in range (num_of_different_buildings):
        interval2 = interval2 + round(rows_for_change.shape[0]*percentage_for_insert.iloc[j,percentage_for_insert.columns.get_loc('percentage')])
        if j == (num_of_different_buildings-1):
            interval2 = len(rows_for_change)
        rows_for_change.iloc[interval1:interval2,rows_for_change.columns.get_loc('building_number')] = percentage_for_insert.iloc[j,percentage_for_insert.columns.get_loc('building_number')]
        interval1 = interval1 + round(rows_for_change.shape[0]*percentage_for_insert.iloc[j,percentage_for_insert.columns.get_loc('percentage')])
        servers_without_building[servers_without_building['department_name'] == servers_without_building['department_name'].unique()[i]] = rows_for_change
        
for i in range (desktops_without_building['department_name'].unique().shape[0]):
    rows_for_change = desktops_without_building[desktops_without_building['department_name'] == desktops_without_building['department_name'].unique()[i]]
    percentage_for_insert = desktops_div_percentage[desktops_div_percentage['department_name'] == desktops_without_building['department_name'].unique()[i]]
    num_of_different_buildings = len(percentage_for_insert)
    interval1 = 0
    interval2 = 0
    for j in range (num_of_different_buildings):
        interval2 = interval2 + round(rows_for_change.shape[0]*percentage_for_insert.iloc[j,percentage_for_insert.columns.get_loc('percentage')])
        if j == (num_of_different_buildings-1):
            interval2 = len(rows_for_change)
        rows_for_change.iloc[interval1:interval2,rows_for_change.columns.get_loc('building_number')] = percentage_for_insert.iloc[j,percentage_for_insert.columns.get_loc('building_number')]
        interval1 = interval1 + round(rows_for_change.shape[0]*percentage_for_insert.iloc[j,percentage_for_insert.columns.get_loc('percentage')])
        desktops_without_building[desktops_without_building['department_name'] == desktops_without_building['department_name'].unique()[i]] = rows_for_change
    
for i in range (laptops_without_building['department_name'].unique().shape[0]):
    rows_for_change = laptops_without_building[laptops_without_building['department_name'] == laptops_without_building['department_name'].unique()[i]]
    percentage_for_insert = laptops_div_percentage[laptops_div_percentage['department_name'] == laptops_without_building['department_name'].unique()[i]]
    num_of_different_buildings = len(percentage_for_insert)
    interval1 = 0
    interval2 = 0
    for j in range (num_of_different_buildings):
        interval2 = interval2 + round(rows_for_change.shape[0]*percentage_for_insert.iloc[j,percentage_for_insert.columns.get_loc('percentage')])
        if j == (num_of_different_buildings-1):
            interval2 = len(rows_for_change)
        rows_for_change.iloc[interval1:interval2,rows_for_change.columns.get_loc('building_number')] = percentage_for_insert.iloc[j,percentage_for_insert.columns.get_loc('building_number')]
        interval1 = interval1 + round(rows_for_change.shape[0]*percentage_for_insert.iloc[j,percentage_for_insert.columns.get_loc('percentage')])
        laptops_without_building[laptops_without_building['department_name'] == laptops_without_building['department_name'].unique()[i]] = rows_for_change

In [24]:
servers_df = pd.concat([servers_without_building, servers_with_building])
servers_df.sort_values('building_number', axis=0, ascending=False, inplace=True, ignore_index=True)

desktops_df = pd.concat([desktops_without_building, desktops_with_building])
desktops_df.sort_values('building_number', axis=0, ascending=False, inplace=True, ignore_index=True)

laptops_df = pd.concat([laptops_without_building, laptops_with_building])
laptops_df.sort_values('building_number', axis=0, ascending=False, inplace=True, ignore_index=True)

In [25]:
servers_exceptions = servers_df[pd.isnull(servers_df['building_number']) == True]
servers_exceptions.sort_values('department_number', axis=0, ascending=False, inplace=True, ignore_index=True)
print(servers_exceptions['department_number'].unique())

[6932. 6922. 6160. 5905. 5901. 5723. 5709. 5513. 5512. 5511. 5508. 5421. 5356. 5329. 5319. 5304. 5109. 3913.]

In [26]:
print('Servers Exceptions Before Cleaning:',len(servers_df['department_number'][pd.isnull(servers_df['building_number']) == True]))

servers_df = servers_df[servers_df['department_number'] != 6932]
servers_df = servers_df[servers_df['department_number'] != 6922]
servers_df = servers_df[servers_df['department_number'] != 6160]
servers_df = servers_df[servers_df['department_number'] != 5905]
servers_df = servers_df[servers_df['department_number'] != 5901]
servers_df = servers_df[servers_df['department_number'] != 5421]
servers_df = servers_df[servers_df['department_number'] != 3913]

servers_df['building_number'][servers_df['department_number'] == 5723] = '50'
servers_df['building_number'][servers_df['department_number'] == 5709] = '71'
servers_df['building_number'][servers_df['department_number'] == 5513] = '39'
servers_df['building_number'][servers_df['department_number'] == 5512] = '63'
servers_df['building_number'][servers_df['department_number'] == 5511] = '63'
servers_df['building_number'][servers_df['department_number'] == 5508] = '59'
servers_df['building_number'][servers_df['department_number'] == 5356] = '72'
servers_df['building_number'][servers_df['department_number'] == 5329] = '72'
servers_df['building_number'][servers_df['department_number'] == 5319] = '72'
servers_df['building_number'][servers_df['department_number'] == 5304] = '72'
servers_df['building_number'][servers_df['department_number'] == 5109] = '51'

print('Servers Exceptions After Cleaning:',len(servers_df['department_number'][pd.isnull(servers_df['building_number']) == True]))

Servers Exceptions Before Cleaning: 68
Servers Exceptions After Cleaning: 0

In [27]:
desktops_exceptions = desktops_df[pd.isnull(desktops_df['building_number']) == True]
desktops_exceptions.sort_values('department_number', axis=0, ascending=False, inplace=True, ignore_index=True)
print(desktops_exceptions['department_number'].unique())

[6932. 6922. 6912. 6260. 6204. 6160. 5930. 5905. 5904. 5818. 5816. 5811. 5807. 5743. 5724. 5714. 5421. 5330. 5323. 5322. 3919. 3918. 3913.   nan]

In [28]:
print('Desktops Exceptions Before Cleaning:',len(desktops_df['department_number'][pd.isnull(desktops_df['building_number']) == True]))

desktops_df = desktops_df[pd.isnull(desktops_df['department_number']) == False]
desktops_df = desktops_df[desktops_df['department_number'] != 6932]
desktops_df = desktops_df[desktops_df['department_number'] != 6922]
desktops_df = desktops_df[desktops_df['department_number'] != 6912]
desktops_df = desktops_df[desktops_df['department_number'] != 6260]
desktops_df = desktops_df[desktops_df['department_number'] != 6204]
desktops_df = desktops_df[desktops_df['department_number'] != 6160]
desktops_df = desktops_df[desktops_df['department_number'] != 5930]
desktops_df = desktops_df[desktops_df['department_number'] != 5905]
desktops_df = desktops_df[desktops_df['department_number'] != 5904]
desktops_df = desktops_df[desktops_df['department_number'] != 5818]
desktops_df = desktops_df[desktops_df['department_number'] != 5816]
desktops_df = desktops_df[desktops_df['department_number'] != 5811]
desktops_df = desktops_df[desktops_df['department_number'] != 5807]
desktops_df = desktops_df[desktops_df['department_number'] != 5714]
desktops_df = desktops_df[desktops_df['department_number'] != 5421]
desktops_df = desktops_df[desktops_df['department_number'] != 3913]


desktops_df['building_number'][desktops_df['department_number'] == 5743] = '71'
desktops_df['building_number'][desktops_df['department_number'] == 5724] = '71'
desktops_df['building_number'][desktops_df['department_number'] == 5330] = '72'
desktops_df['building_number'][desktops_df['department_number'] == 5323] = '72'
desktops_df['building_number'][desktops_df['department_number'] == 5322] = '72'
desktops_df['building_number'][desktops_df['department_number'] == 3919] = '34'
desktops_df['building_number'][desktops_df['department_number'] == 3918] = '60'

print('Desktops Exceptions After Cleaning:',len(desktops_df['department_number'][pd.isnull(desktops_df['building_number']) == True]))

Desktops Exceptions Before Cleaning: 1203
Desktops Exceptions After Cleaning: 0

In [29]:
laptops_exceptions = laptops_df[pd.isnull(laptops_df['building_number']) == True]
laptops_exceptions.sort_values('department_number', axis=0, ascending=False, inplace=True, ignore_index=True)
print(laptops_exceptions['department_number'].unique())

[39031.  6932.  6922.  6912.  6260.  6204.  6160.  6037.  5930.  5917.  5905.  5901.  5850.  5706.  5702.  5600.  5558.  5522.  5518.  5517.  5421.  5330.  5301.  5109.
  3919.  3907.]

In [30]:
print('Laptops Exceptions Before Cleaning:',len(laptops_df['department_number'][pd.isnull(laptops_df['building_number']) == True]))

laptops_df = laptops_df[laptops_df['department_number'] != 39031]
laptops_df = laptops_df[laptops_df['department_number'] != 6932]
laptops_df = laptops_df[laptops_df['department_number'] != 6922]
laptops_df = laptops_df[laptops_df['department_number'] != 6912]
laptops_df = laptops_df[laptops_df['department_number'] != 6260]
laptops_df = laptops_df[laptops_df['department_number'] != 6204]
laptops_df = laptops_df[laptops_df['department_number'] != 6160]
laptops_df = laptops_df[laptops_df['department_number'] != 6037]
laptops_df = laptops_df[laptops_df['department_number'] != 5930]
laptops_df = laptops_df[laptops_df['department_number'] != 5917]
laptops_df = laptops_df[laptops_df['department_number'] != 5905]
laptops_df = laptops_df[laptops_df['department_number'] != 5901]
laptops_df = laptops_df[laptops_df['department_number'] != 5421]


laptops_df['building_number'][laptops_df['department_number'] == 5850] = '72'
laptops_df['building_number'][laptops_df['department_number'] == 5706] = '71'
laptops_df['building_number'][laptops_df['department_number'] == 5702] = '71'
laptops_df['building_number'][laptops_df['department_number'] == 5600] = '22'
laptops_df['building_number'][laptops_df['department_number'] == 5558] = '63'
laptops_df['building_number'][laptops_df['department_number'] == 5522] = '63'
laptops_df['building_number'][laptops_df['department_number'] == 5518] = '42'
laptops_df['building_number'][laptops_df['department_number'] == 5517] = '42'
laptops_df['building_number'][laptops_df['department_number'] == 5330] = '72'
laptops_df['building_number'][laptops_df['department_number'] == 5301] = '98'
laptops_df['building_number'][laptops_df['department_number'] == 5109] = '51'
laptops_df['building_number'][laptops_df['department_number'] == 3919] = '34'
laptops_df['building_number'][laptops_df['department_number'] == 3907] = '30'


print('Laptops Exceptions After Cleaning:',len(laptops_df['department_number'][pd.isnull(laptops_df['building_number']) == True]))

Laptops Exceptions Before Cleaning: 701
Laptops Exceptions After Cleaning: 0

In [31]:
print ('Servers Building Numbers:', servers_df['building_number'].unique())
print()
servers_df.drop(['price','department_number', 'department_name', 'building_name'], axis=1, inplace=True)

print ('Desktops Building Numbers:', desktops_df['building_number'].unique())
print()
desktops_df = desktops_df[desktops_df['building_number'] != 'M10']
desktops_df = desktops_df[desktops_df['building_number'] != 'M9']
desktops_df = desktops_df[desktops_df['building_number'] != 'M8']
desktops_df = desktops_df[desktops_df['building_number'] != 'M7']
desktops_df = desktops_df[desktops_df['building_number'] != 'M6']
desktops_df.reset_index(drop=True, inplace=True)
desktops_df.drop(['price','department_number', 'department_name', 'building_name'], axis=1, inplace=True)

print ('Laptops Building Numbers:', laptops_df['building_number'].unique())
laptops_df = laptops_df[laptops_df['building_number'] != 'M6']
laptops_df.reset_index(drop=True, inplace=True)
laptops_df.drop(['price','department_number', 'department_name', 'building_name'], axis=1, inplace=True)

Servers Building Numbers: ['98' '97' '93' '72' '64' '62' '58' '55' '51' '50' '41' '37' '34' '33' '32' '30' '22' '16' '15' '63' '39' '71' '59']

Desktops Building Numbers: ['M9' 'M8' 'M7' 'M6' 'M10' '98' '97' '96' '95' '93A' '93' '91' '90' '74' '72' '71' '70' '67' '65' '64' '63' '62' '60' '59' '58' '57' '56' '55' '54' '51' '50' '43' '42'
 '41' '40' '39' '38' '37' '35' '34' '33' '32' '30' '29' '26' '22' '18' '17' '16' '15' '14']

Laptops Building Numbers: ['M6' '98' '97' '96' '93A' '93' '90' '74' '72' '71' '70' '64' '63' '62' '59' '58' '56' '55' '54' '51' '50' '41' '40' '39' '38' '37' '35' '34' '33' '32' '30' '29' '26'
 '18' '17' '16' '15' '14' '42' '22']

In [32]:
servers_df['operating_date'] = pd.to_datetime(servers_df['operating_date'])
desktops_df['operating_date'] = pd.to_datetime(desktops_df['operating_date'])
laptops_df['operating_date'] = pd.to_datetime(laptops_df['operating_date'])

In [33]:
months=12
for i in range(1, months+1):

    string1 = '2019-'
    if i != 12:
        string2 = str(i+1)
        final_date = string1+string2
    else:        
        string2 = str(i)
        string3 = '-31'
        final_date = string1+string2+string3
    final_date = pd.to_datetime(final_date)

    servers_final = servers_df[~(servers_df['operating_date'] >= final_date)]
    servers_final = servers_final.drop(['operating_date'], axis = 1, inplace=False)

    desktops_final = desktops_df[~(desktops_df['operating_date'] >= final_date)]
    desktops_final = desktops_final.drop(['operating_date'], axis = 1, inplace=False)

    laptops_final = laptops_df[~(laptops_df['operating_date'] >= final_date)]
    laptops_final = laptops_final.drop(['operating_date'], axis = 1, inplace=False)

    servers_final = servers_final.groupby(['building_number']).size().reset_index(name='c_server')
    desktops_final = desktops_final.groupby(['building_number']).size().reset_index(name='c_desktop')
    laptops_final = laptops_final.groupby(['building_number']).size().reset_index(name='c_laptop')

    total_computers = pd.merge(desktops_final, laptops_final, how='outer', on='building_number')
    total_computers = pd.merge(total_computers, servers_final, how='outer', on='building_number')

    total_computers = total_computers.fillna(0)
    total_computers.sort_values('building_number', axis=0, ascending=True, inplace=True, ignore_index=True)

    file_name = 'total_computers_'+string1+str(i)+'.csv'
    total_computers.to_csv(file_name, index=False, encoding="utf-8")